.App {
  text-align: center;
}

.App-header {
  background-color: #578c88;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #d5e0ff;
  background-image: linear-gradient(to top, #83d0bf 0%, #8fc9cb 100%);
  font-family: Helvetica, "Consolas", "Courier New", monospace;
}

.container {
  background-color: #d5e0ff;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
  background-image: linear-gradient(
    -225deg,
    #6682ac 0%,
    #5085ba 48%,
    #7085d7 100%
  );
  background-image: linear-gradient(
    -225deg,
    #75b9ae 0%,
    #67b3a6 48%,
    #639dad 90%
  );
}

.centerBox {
  box-shadow: 5px 5px 155px 15px rgb(237, 243, 255);
  background-color: #add1fe;
  border-radius: 2%;
  display: block;
  background-image: linear-gradient(
    -225deg,
    #5d9fff 0%,
    #b8dcff 48%,
    #6bbbff 100%
  );
  background-image: linear-gradient(
    -225deg,
    rgb(143, 188, 190) 20%,
    rgb(154, 200, 200) 48%,
    rgb(162, 203, 207) 70%
  );
  border: 1px solid darkslategrey;
}

a:visited {
  color: rgb(109, 207, 195);
}

.foot a:visited {
  color: rgb(31, 84, 164);
}

li {
  list-style: none;
  text-transform: capitalize;
  font-family: Helvetica;
  color: rgb(15, 92, 88);
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainHeading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 3%;
  position: sticky;
  overflow: hidden;
  text-align: left;
  font-size: 1.3em;
  padding-left: 5%;
  padding-top: 1%;
  color: darkslategray;
  text-shadow: 2px 1px 10px rgb(159, 207, 193);
  font-weight: bold;
}

.mainHeading:hover {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  overflow: hidden;
  text-align: left;
  font-size: 1.33em;
  padding-left: 5.5%;
  padding-top: 1%;
  color: darkslategray;
  font-weight: bold;
  transition: ease-in-out;
}

.rainbowContainer {
  background: #d5e0ff;
  width: 100%;
  height: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-round-rainbow {
  width: 100%;
  height: 50%;
  background-image: repeating-linear-gradient(
    to right,
    #7fdae1 0px,
    #7fade1 50px,
    #cad5fd 50px,
    #cecafd 100px,
    #8571fa 100px,
    #4c53d4 150px,
    #648df4 150px,
    #a2e7fc 200px,
    #9690e7 200px,
    #9273f6 250px,
    #5343ff 250px,
    #7f63ff 300px,
    #6599e2 300px,
    #6599e2 350px,
    #61c2e4 350px,
    #61c2e4 400px
  );
  background-size: 100% 0.9em;
  background-repeat: no-repeat;
}

h3.dateAndTime {
  display: flex;
  font-family: "Consolas", "Courier New", monospace, Helvetica;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  text-align: right;
  overflow: hidden;
  color: rgb(10, 10, 142);
  margin-top: 3%;
  margin-right: 2%;
  padding-top: 3%;
  font-size: 0.72em;
  font-weight: bold;
}

h3.dateAndTime:hover {
  display: flex;
  font-family: "Consolas", "Courier New", monospace, Helvetica;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  text-align: right;
  color: rgb(10, 10, 142);
  overflow: hidden;
  text-shadow: 1px 1px 1px #d6cdec;
  margin-top: 3%;
  padding-top: 3%;
  font-size: 0.7em;
  font-weight: bold;
}

li.fullDate {
  text-align: right;
}
li.fullDay {
  text-align: right;
}
li.fullTime {
  text-align: right;
}

.search-text-input {
  color: darkslategray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  outline: none;
  background-color: #ffffff;
  border: 2px solid rgb(58, 113, 101);
  padding: 5px 8px 5px 8px;
  border-radius: 40px;
  font-size: 0.7em;
  box-shadow: 1px 1px 1px #467d6e;
}

.search-text-input:hover {
  color: darkslategray;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  background-color: #ffffff;
  border: 2px solid rgb(58, 113, 101);
  padding: 5px 8px 5px 8px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 0.7em;
  box-shadow: 1px 1px 1px #467d6e;
}

.currentButton {
  display: block;
  outline: none;
  margin-left: 10%;
  background-color: #4c53d4;
  background-image: linear-gradient(to top, #20238a 0%, #2d53a4 100%);
  color: #fff;
  text-align: center;
  position: static;
  padding: 4px 4px 4px 4px;
  border-radius: 10px;
  border: 1px solid #282ea8;
  box-shadow: 1px 1px 1px #5a77d5;
  font-size: 0.6em;
}

.currentButton:hover {
  display: block;
  outline: none;
  margin-left: 10%;
  text-align: center;
  color: #fff;
  position: static;
  padding: 4px 4px 4px 4px;
  border-radius: 15px;
  background-color: #f4af48;
  border: 2px solid rgb(224, 126, 22);
  cursor: pointer;
  font-size: 0.6em;
}

input.inputButton {
  display: inline;
  margin-left: 70%;
  background-image: linear-gradient(to top, #3f6f65 0%, #3c6b63 100%);
  color: #fff;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border-radius: 10px;
  border: 1px solid #276262;
  box-shadow: 1px 2px 3px #405e5d;
  font-size: 0.6em;
}

input.inputButton:hover {
  display: inline;
  color: #fff;
  text-align: center;
  position: static;
  padding: 4px 4px 4px 4px;
  border-radius: 15px;
  box-shadow: 1px 2px 3px #405e5d;
  font-size: 0.6em;
  background-color: #e7fe8d;
  margin-left: 70%;
  border: 2px solid rgb(89, 224, 22);
  cursor: pointer;
}

.today {
  color: rgb(7, 69, 56);
  text-align: left;
  font-size: 0.8em;
  margin-left: 10%;
  font-weight: bold;
}

.currentTemp {
  text-transform: capitalize;
  font-size: 1.2em;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-bottom: 1%;
  color: white;
}

li.feelsLike {
  font-style: italic;
}

.CorFLetter {
  text-align: left;
  color: white;
  font-size: 0.9em;
  font-weight: 400;
  padding-bottom: 2%;
}

.currentDescription {
  text-align: right;
  align-items: center;
  font-size: 1em;
  color: white;
  max-width: 100%;
  opacity: 0.8;
}

span.currentHumidity {
  text-align: right;
  align-items: center;
  font-size: 1em;
  color: white;
  max-width: 100%;
  opacity: 0.8;
}

span.currentWind {
  text-align: right;
  align-items: center;
  font-size: 1em;
  color: white;
  max-width: 100%;
  opacity: 0.8;
}

h3.current {
  display: flex;
  align-items: center;
  margin-left: 5%;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  color: white;
  background-color: #32614c;
  background-image: linear-gradient(
    -225deg,
    #3b7465 27%,
    #335e51 100%,
    #3c695d 42%
  );
  border: 2px solid rgb(80, 148, 149);
  border-radius: 8px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 0.8em;
  font-weight: bold;
}

h3.current:hover {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5%;
  text-align: center;
  color: darkslategray;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #32614c;
  border: 2px solid rgb(80, 148, 149);
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: bold;
}

img {
  text-align: center;
  align-items: center;
}

.curWeatherIcon {
  margin: 0 auto;
}

#currentIcon {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  padding: 2% 2% 2% 2%;
}

.weatherIcon {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  padding: 2% 2% 2% 2%;
  font-weight: bold;
}

h4.city {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  text-align: center;
  background-color: #32614c;
  background-image: linear-gradient(
    -225deg,
    #3b7465 27%,
    #335e51 100%,
    #3c695d 42%
  );
  border: 2px solid rgb(80, 148, 149);
  border-radius: 8px;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
  position: static;
  overflow: hidden;
  font-size: 0.8em;
  color: "darkslategray";
  color: white;
  padding: 10% 10% 10% 10%;
  font-weight: bold;
}

h4.city:hover {
  display: flex;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
  background-color: #32614c;
  border: 2px solid rgb(80, 148, 149);
  border-radius: 20px;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
  overflow: hidden;
  font-size: 0.8em;
  color: white;
  padding: 10% 10% 10% 10%;
  font-weight: bold;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#forecast {
  margin-left: 3%;
  margin-right: 3%;
}

.row {
  margin-left: 3%;
  margin-right: 3%;
}

.foot {
  display: block;
  color: darkslategray;
  font-size: 0.62em;
  text-align: center;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
  padding: 20px 10px 20px 10px;
}
