.Weather .weatherRow {
  background-color: #bfd6ff;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  padding: 1% 1% 1% 1%;
  border: 1px solid rgb(117, 119, 213);
}

.Weather .weatherRow:hover {
  align-items: center;
  text-align: center;
  padding: 1% 1% 1% 1%;
  background-color: #d5e0ff;
  border-radius: 20px;
  border: 1px solid rgb(117, 119, 213);
}

.Weather .weather-forecast {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  align-items: center;
  color: rgb(37, 6, 59);
  border-radius: 4px;
  padding: 1% 0% 1% 0%;
  background-color: #bfd6ff;
  border: 2px solid rgb(117, 119, 213);
  font-weight: bold;
}

.Weather .weather-forecast:hover {
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  align-items: center;
  color: navy;
  background-color: #d2e3ff;
  border-radius: 20px;
  padding: 1% 0% 1% 0%;
  border: 2px solid rgb(97, 90, 194);
  font-weight: bold;
}

.Weather .weather-forecast-day {
  font-size: 1.1em;
  opacity: 0.7;
}

.Weather .weather-forecast-temp-max {
  opacity: 0.9;
}

.Weather .weather-forecast-temp-min {
  opacity: 0.6;
}

.Weather .weather-forecast-temperatures {
  font-size: 1.1em;
}

.Weather .forecastMain {
  font-size: 1.1em;
  opacity: 0.8;
}

.Weather .highLowHigh {
  opacity: 0.9;
}

.Weather .highLowLow {
  opacity: 0.6;
}
